<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../../../../lib/html5shiv.js"></script>
    <script type="text/javascript" src="../../../../lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../../../../static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../../../../static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="../../../../lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../../../static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="../../../../static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="../../../../lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--[global function start]-->
    <script type="text/javascript" src="../../../utils/utils.js"></script>
    <!--[global function end]-->
    <title>${htmlPageName}</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>
    首页
    <span class="c-gray en">&gt;</span>
    ${htmlPagePackageName}
    <span class="c-gray en">&gt;</span>
    ${htmlPageName}
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container">
    <!--搜索框-->
    <div class="row searchBar" style="display: block; width: 100%; margin: 10px auto 10px auto">
        <div class="row cl" style="display: inline-block; width: 45%">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>id：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="search" class="input-text" value="" placeholder="" id="searchId" name="id">
            </div>
        </div>
        <div class="row cl" style="display: inline-block; width: 45%">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>username：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="search" class="input-text" value="" placeholder="" id="searchUsername" name="username">
            </div>
        </div>
        <div class="row cl" style="display: inline-block; width: 10%">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span></label>
            <div class="formControls col-xs-8 col-sm-9">
                <a style="width: 90%; display: inline-block" type="button" class="btn btn-primary btn-block" href="#" onclick="handleSearch()">搜索</a>
            </div>
        </div>
    </div>
    <div class="cl pd-5 bg-1 bk-gray"> <span class="l"> <a class="btn btn-primary radius" href="javascript:;" onclick="${htmlPageName}Add('添加','${htmlPageName}-add.html','800')"><i class="Hui-iconfont">&#xe600;</i> 添加</a> </span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
    <table id="example" class="table table-striped table-bordered">
        <thead>
        <tr>
            <#list fieldList as var >
                  <th>${var.name}</th>
            </#list>
            <th>operation</th>
        </tr>
        </thead>
        <tbody></tbody>
        <!-- tbody是必须的 -->
    </table>
</div>
<!--编辑模态框-->
<input type="hidden" id="hidden_update_index">
<div class="x-body" style="display: none" id="updateModal">
    <!--编辑表单-->
    <form action="" method="post" class="form form-horizontal" id="form-${htmlPageName}-edit">
        <#list fieldList as var >
             <div class="row cl">
                 <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>${var.name}：</label>
                 <div class="formControls col-xs-8 col-sm-9">
                     <input type="text" class="input-text" value="" placeholder="" id="${var.name}" name="${var.name}">
                 </div>
             </div>
        </#list>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../../../../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../../../../lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../../../../static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../../../../static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../../../../lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="../../../../lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="../../../../lib/jquery.validation/1.14.0/messages_zh.js"></script>
<link type="text/css" rel="stylesheet" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/fixedcolumns/3.0.1/css/dataTables.fixedColumns.css" />
<script type="text/javascript" src="../../../../lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>
<style type="text/css">
    * {
        white-space: nowrap;
    }
</style>
<script type="text/javascript">
    /* *
    * 页面初始数据
    * */
    var ${htmlPageName}InitData = {
        width: 800,
        height: ($(window).height() - 50),
        lang: {
            "sProcessing": "处理中...",
            "sLengthMenu": "每页 _MENU_ 项",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "当前显示第 _START_ 至 _END_ 项，共 _TOTAL_ 项。",
            "sInfoEmpty": "当前显示第 0 至 0 项，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页",
                "sJump": "跳转"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        },
        columns: [
            <#list fieldList as var >
                  { "data": "${var.name}" },
            </#list>
            { "data": null, title: '<div>Operation</div>' },
        ]
    }

    /* *
    * 生命周期
    * */
    window.onready = function () {
        init(); // 初始化
        createTable() // 创建表单
    }

    /* *
    * 页面初始化
    * */
    function init() {
        $.fn.serializeObject = function() {
            var obj = {};
            var arr = this.serializeArray();
            $.each(arr, function() {
                if (obj[this.name] !== undefined) {
                    if (!obj[this.name].push) {
                        obj[this.name] = [obj[this.name]];
                    }
                    obj[this.name].push(this.value || '');
                } else {
                    obj[this.name] = this.value || '';
                }
            });
            return obj;
        };
    }

    /* *
     * 获取搜索条件
     * */
    function getSearchParam() {
        var searchParam = {};
        var searchId = $('#searchId').val();
        var searchUsername = $('#searchUsername').val();
        // 此处注意假值
        if (searchId) {
            searchParam.id = searchId;
        }
        if (searchUsername) {
            searchParam.username = searchUsername;
        }
        return searchParam
    }

    /* *
    * 创建表单
    * */
    function createTable() {
        var table = $("#example").dataTable({
            language: ${htmlPageName}InitData.lang, //提示信息
            autoWidth: false, //禁用自动调整列宽
            stripeClasses: ["odd", "even"], //为奇偶行加上样式，兼容不支持CSS伪类的场合
            processing: true, //隐藏加载提示,自行处理
            serverSide: true, //启用服务器端分页
            searching: false, //禁用原生搜索
            orderMulti: false,  //启用多列排序
            lengthChange: false, // 用户是否可制定每页显示多少条
            order: [],  //取消默认排序查询,否则复选框一列会出现小箭头
            renderer: "bootstrap",  //渲染样式：Bootstrap和jquery-ui
            pagingType: "simple_numbers",  //分页样式：simple,simple_numbers,full,full_numbers
            //列表表头字段
            columns: ${htmlPageName}InitData.columns,
            columnDefs: [
                {
                    targets: -1,
                    orderable: false,
                    render: function (data, type, row, meta) {
                        function foo() {
                            var html = '<div>' +
                                    '<a style="width: 50%; display: inline-block" type="button" class="btn btn-primary btn-block" href="#" onclick="${htmlPageName}Edit(this)">编辑</a>' +
                                    '<a style="width: 50%; display: inline-block" type="button" class="btn btn-danger btn-block" href="#" onclick="${htmlPageName}Del(this)">删除</a>' +
                                    '</div>'
                            return html
                        }
                        return foo();
                    }
                }
            ],
            ajax: function (data, callback, settings) {
                var limit = data.length;//页面显示记录条数，在页面显示每页显示多少项的时候
                var start = data.start;//开始的记录序号
                var page = (data.start / data.length) + 1;//当前页码
                var defaultParam = {
                    currentPage: page,
                    pageSize: limit
                }
                var searchParam = getSearchParam()
                var param = Object.assign(defaultParam, searchParam);
                $.ajax({
                    type: "GET",
                    url: `${r'$'}{getSessionStorage("api").URL}/api/${htmlPageName}/list`,
                    data: param,  //传入组装的参数
                    cache: false,
                    dataType: "json",
                    headers: {
                        token: getSessionStorage('userData').token
                    },
                    success: function (result) {
                        setTimeout(function () {
                            //封装返回数据
                            var columns = ${htmlPageName}InitData.columns;
                            var returnData = {};
                            returnData.draw = data.draw;//这里直接自行返回了draw计数器,应该由后台返回
                            returnData.recordsTotal = result.data.total;//返回数据全部记录
                            returnData.recordsFiltered = result.data.total;//后台不实现过滤功能，每次查询均视作全部结果
                            result.data.rows.forEach(function (item) { // 对数据进行修改
                                for (var i = 0; i < columns.length - 1; i++) {
                                    var field = columns[i].data;
                                    if (!item.hasOwnProperty(field)) {
                                        item[field] = ''
                                    }
                                }
                            })
                            returnData.data = result.data.rows;//返回的数据列表
                            //调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
                            //此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕
                            callback(returnData);
                        }, 200);
                    }
                });
            }
        }).api();
        $('#example').wrapAll('<div style="overflow: auto"></div>') // 添加滚动条(完美自适应)
    }

    /* *
    * 进行搜索
    * */
    function handleSearch() {
        $('#example').DataTable().ajax.reload();
    }

    /* *
    * 编辑时获取当前一行的数据
    * */
    function getInitValue(id) {
        $.ajax({
            type: "GET",
            url: `${r'$'}{getSessionStorage("api").URL}/api/${htmlPageName}/get`,
            data: {
                id
            },  //传入组装的参数
            cache: false,
            dataType: "json",
            headers: {
                token: getSessionStorage('userData').token
            },
            success: function (result) {
                if (result.code === 0) {
                    var data = result.data;
                    createEditContent(data)
                } else {
                    layer.msg('something error!',{icon:2,time:1000});
                }
            }
        });
    }

    /*
    * 创建编辑模态框并给其赋初值
    * */
    function createEditContent(data) {
        var inputs = $('#form-${htmlPageName}-edit')[0].getElementsByTagName('input');
        var inputsArr = Array.prototype.slice.call(inputs);
        inputsArr.forEach(function (input) {
            if (input.type !== 'submit') {
                var initValue = data[input.id]
                $(input).val(initValue)
            }
        })
        var index = layer.open({
            title: '编辑',
            area: [ ${htmlPageName}InitData.width + 'px', ${htmlPageName}InitData.height + 'px' ],//大小
            fix: true, //不固定
            maxmin: true,
            zIndex:500,
            shadeClose: false,
            shade:0.4,
            type:1,
            content: $('#updateModal')
        });
        $("#hidden_update_index").val(index);
        $("#form-${htmlPageName}-edit").validate({
            rules:{
                <#list fieldList as var >
                     ${var.name}:{
                         required: false,
                     },
                </#list>
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                var formData = $(form).serializeObject()
                $.ajax({
                    type: "POST",
                    url: `${r'$'}{getSessionStorage("api").URL}/api/${htmlPageName}/edit`,
                    data: JSON.stringify(formData),  //传入组装的参数
                    cache: false,
                    dataType: "json",
                    beforeSend: function(request) {
                        request.setRequestHeader('token', getSessionStorage('userData').token);
                        request.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                    },
                    success: function (result) {
                        if (result.code === 0) {
                            layer.msg('修改成功!',{icon:1});
                            layer.close($("#hidden_update_index").val()); //关闭当前窗口
                            $('#example').DataTable().ajax.reload();
                        } else {
                            layer.msg(result.msg, {icon:2,time:1000});
                        }
                    },
                    error: function(XmlHttpRequest, textStatus, errorThrown){
                        layer.msg('error!',{icon:2,time:1000});
                    }
                });
            }
        });
    }

    /* *
    * 打开添加模态框
    * */
    function ${htmlPageName}Add(title,url,w,h){
        layer_show(title,url,w,h);
    }

    /* *
    * 获取当前行id
    * */
    function getRowId(btn) {
        var tds = $(btn).parents("tr").children('td');
        return tds.eq(0).text() // 通过当前行第1个字段获取数据
    }

    /* *
    * 打开编辑模态框
    * */
    function ${htmlPageName}Edit(btn){
        var id = getRowId(btn)
        getInitValue(id);
    }

    /* *
    * 删除某条数据
    * */
    function ${htmlPageName}Del(btn){
        var id = getRowId(btn)
        layer.confirm('确认要删除吗？',function(){
            $.ajax({
                type: 'GET',
                url: `${r'$'}{getSessionStorage("api").URL}/api/${htmlPageName}/del`,
                dataType: 'json',
                data: {
                    id
                },
                beforeSend: function(request) {
                    request.setRequestHeader('token', getSessionStorage('userData').token);
                    request.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                },
                success: function(data){
                    if (data.code === 0) {
                        layer.msg('已删除!',{icon:1});
                        $('#example').DataTable().ajax.reload();
                    } else {
                        layer.msg(data.msg, {icon:2,time:1000});
                    }
                },
                error:function(data) {
                    layer.msg(data.msg,{icon:2,time:1000});
                },
            });
        });
    }
</script>
</body>
</html>